<h1 mat-dialog-title>{{ restaurant.name }}</h1>
<div mat-dialog-content>
  <div class="address-container">
    <table>
      <tr>
        <td class="row-title">
          City
        </td>
        <td>
          {{ restaurant.address.code + " " + restaurant.address.city }}
        </td>
      </tr>
      <tr>
        <td class="row-title">
          Street
        </td>
        <td>
          {{ restaurant.address.street }}
        </td>
      </tr>
      <tr>
        <td class="row-title">
          Phone
        </td>
        <td>
          {{ restaurant.address.phone }}
        </td>
      </tr>
    </table>
  </div>
</div>
