<vp-menu-toolbar></vp-menu-toolbar>
<div class="menu-container" fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="50" fxFlex="100">
    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Suche...">
    </mat-form-field>
    <table class="menu-table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Number</th>
        <td (click)="selectElement(menuItem)" mat-cell *matCellDef="let menuItem"> {{menuItem.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td (click)="selectElement(menuItem)" mat-cell *matCellDef="let menuItem"> {{menuItem.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td (click)="selectElement(menuItem)" mat-cell *matCellDef="let menuItem">
          {{menuItem.price}}€
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
