.index-container {
  height: 100%;
}

.index-title {
  font-weight: 300;
  font-size: 40pt;
  text-align: center;
}

.index-image {
  width: 400px;
}

.option-button {
  margin: 8px;
}

.darkmode-toggle {
  padding: 16px;
}
