.order-card {
  padding: 0;
  margin: 16px;
}

.order-card mat-toolbar {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 56px;
  font-size: 20pt;
  margin: 0;
}

.order-card mat-card-content  {
  padding: 16px;
  margin: 0;
}

.order-container {
  height: 100%;
}

.card-content-headline {
  font-weight: 300;
}
