<h1 mat-dialog-title>Adding {{ data.name }}</h1>
<div mat-dialog-content>
  <mat-selection-list #selectionList (selectionChange)="selectionChange($event)">
    <mat-list-option
      *ngFor="let option of data.options; let i = index"
      [value]="option"
    >
      {{ option.name }} / {{ option.price }}€
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="addDish()">Add</button>
  <span fxFlex></span>
  <button mat-stroked-button color="warn" matDialogClose>Cancel</button>
</div>
