<div class="index-container" fxLayoutAlign="center start">
  <div class="index-container" fxFlex.gt-sm="45" fxFlex="100" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-card>
      <mat-card-title>
        Join an order
      </mat-card-title>
      <mat-card-subtitle>
        Available orders:
      </mat-card-subtitle>
      <mat-card-content>
        <mat-action-list>
          <button mat-list-item [routerLink]="['menu']">Siemens</button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Create an order
      </mat-card-title>
      <mat-card-subtitle>
        Available restaurants:
      </mat-card-subtitle>
      <mat-card-content>
        <mat-action-list>
          <button mat-list-item>Piccola Strada</button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
