/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #eaeaea;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-toolbar {
  height: 56px!important;
  font-weight: normal!important;
}

.mat-dialog-container {
  width: 500px!important;
  height: 250px
}
